.hamburger-menu {
    margin: 0;
    display: none;
    height: 100%;
    width: 520px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    padding: 160px 0 90px 0;
    box-sizing: border-box;
}

.hamburger-menu_open {
    display: block;
}

.hamburger-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hamburger-menu__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    z-index: 2;
}

.hamburger-menu__close-button {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 22px;
    right: 22px;
    background: url(../../images/hamburger-close-button.svg) no-repeat ;
    background-size: cover;
    cursor: pointer;
    border: none;
}

.hamburger-menu__link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.hamburger-menu__link:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #000000;
}

.hamburger-menu__profile {
    position: absolute;
    bottom: 92px;
    padding: 11px 0 11px 0;
}
.hamburger-menu__profile-icon {
    position: center;
}
.navigation-burger__element {
    margin: 0;
    padding-bottom: 28px;
}
.hamburger-menu__profile-icon {
    position: center;
    padding-left: 7px;
}



