.hamburger-menu {
    margin: 0;
    display: none;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    box-sizing: border-box;
}

.hamburger-menu_open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.hamburger-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hamburger-menu__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.hamburger-menu__close-button {
    width: 22px;
    height: 22px;
    background: url(../../images/hamburger-close-button.svg) no-repeat ;
    background-size: contain;
    cursor: pointer;
    border: none;
    margin: 30px 30px auto auto;
    align-self: end;
}

.hamburger-menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

}

.hamburger-menu__link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.hamburger-menu__link:hover {

    border-bottom: 2px solid #000000;
}

.hamburger-menu__profile {
    justify-self: flex-end;
    margin-bottom: 100px;
}

.hamburger-menu__profile-icon {
    position: center;
    padding-left: 17px;
    margin-left: 17px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background: #F9F9F9 url("../../images/profile-icon.svg") no-repeat center;
}

@media (max-width: 768px) {

    .hamburger-menu {
        width: 75%;
        top: 0;
        right: 0;
    }
}
@media (max-width: 350px) {

    .hamburger-menu {
        width: 100%;
    }

    .hamburger-menu__profile {
        margin-bottom: 55px;
    }

    .hamburger-menu__close-button {
        margin: 20px 14px auto auto;
    }
}
