.profile {
    margin: 74px 70px 70px;
    display: flex;
    justify-content: center;
}

.profile__form {
    display: flex;
    flex-direction: column;
    width: 410px;
}

.profile__title {
    margin: 0;
    padding: 0 0 123px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: center;
}

.profile__fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__label {
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 16px 0 17px;
    border-bottom: 1px solid #E8E8E8;
}

.profile__input {
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    text-align: right;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 0;
}

.profile__button {
    background: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}

.profile__button-submit {
    padding-top: 220px;
}

.profile__button-edit {
    padding-top: 220px;
}

.profile__button-exit {
    color: #FF4062;
    padding-top: 16px;
}
@media (max-width: 768px) {
    .profile {
        margin: 74px 20px 20px;
    }

}
