.search-form {
    margin: 70px 70px 80px 70px;
}

.search-form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    /*padding: 25px;*/
    border: 1px solid #AAAAAA;
    border-radius: 8px;
}

.search-form__input {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0 25px 25px;
    border: none;
}

.search-form__input:focus {
    outline: none;
    border: none;
}

.search-form__button {
    width: 100px;
    height: 52px;
    margin: 10px 10px 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
