.login {
    max-width: 396px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.login__logo {
    width: 38px;
    height: 38px;
    margin: 0 0 40px 0;
    cursor: pointer;
    align-self: start;
}

.login__title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 40px 0;
    align-self: start;
}

.login__form {
    width: 100%;
    margin: 0 0 16px 0;
    display: flex;
    flex-direction: column;
}

.login__label {
    font-size: 10px;
    font-weight: 400;
    color: #A0A0A0;
    margin: 0 0 5px 0;
}

.login__input {
    border: none;
    border-bottom: 1px solid #E8E8E8;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 24px 0;
    padding: 0 0 10px 0;
}

.login__input:focus {
    outline: none;
    border-bottom: 1px solid #000000;
}

.login__button {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    margin: 128px 0 0 0;
    cursor: pointer;
    transition: .5s;

}

.login__button:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow:  10px 10px 20px #808080;
    transition: .5s;
}

.login__button:active {
    box-shadow: inset 5px 5px 10px #808080;
    transition: .5s;
}

.login__text {
    font-size: 12px;
    font-weight: 400;
    color: #A0A0A0;
    margin: 0 auto 0 auto;
    text-align: center;
}

.login__link {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .5s;
}

.login__link:hover {
    transition: .5s;
    border-bottom: 1px solid #000000;
}

@media (max-width: 768px) {
    .login {
        margin: 232px auto;
        padding: 0 30px;
    }
}

@media (max-width: 350px) {
    .login {
        margin: 56px 0;
        max-width: 260px;
    }

    .login__logo {
        align-self: center;
    }

    .login__title {
        align-self: center;
    }
}
